<div id="primary" class="content-area">
  {%- include 'page-header' -%}
  <div id="content" class="site-content">
    <article class="page">
      <div class="row">
        <div class="large-12 columns">
          <div class="entry-content">
            {%- include 'shortcode' load: page.content -%}
          </div>  
    </div>
      </div>       
{% assign collHandle = 'quick-order' %}             
{% assign collection = collections[collHandle] %}   
{% assign count = 0 %}
{% assign total = cart.attributes.pagination %}
{% comment %}
Source: https://gist.github.com/carolineschnapp/9122054
{% endcomment %}


 {{total}}
      
      
      
<div class="paginationForm">
{% paginate collection.products by total %}
  

<form action="/cart" method="post" class="orderForm">
  <div class="row">
    <div class="large-12 columns" style="text-align: left">
      
      {% if collection.products_count > 0 %}

      
<!--        <h1>{% if template contains 'page' %}{{ page.title }}{% else %}{{ collection.title }}{% endif %}</h1>
      {% endif %} -->
     
      {% if template contains 'page' and page.content.size > 0 %}
       
      {% elsif collection.description.size > 0 %}
        <div class="rte">
          {{ collection.description }}
        </div>
      {% endif %}
      
    
      {% if collection.products_count > 0 %}
      
        <div class="filterBoxWrap">
            <div class="filterBox fBox" data-enable-listfilter="true" data-listfilter-list="#prodList" data-listfilter-by-attribute="data-name">
                <label>Search</label>
                <input type="search" class="form-control" placeholder="Search Product">
            </div>
            <div class="fBox cat">
                <label>Category</label>
                <select class="catFilter">
					  {% comment %}
                  	  <option value="">No Category Filter</option>
                  	  {% endcomment %}
                      <option value="Accessories">Accessories</option>
                      <option value="SweetLegs One Size">SweetLegs one size</option>
                      <option value="SweetLegs Plus">SweetLegs Plus</option>
                      <option value="SweetLegs Petite">SweetLegs Petite</option>
                      <option value="SweetLegs Kids">SweetLegs Kids</option>
                      <option value="Marketing Materials">Marketing Materials</option>
                  	  <option value="ID Only Prints">ID Only Prints</option>
                  	  <option value="c1">Clearance 60% off</option>
                      <option value="c2">Clearance 70% off</option>
                  	  <option value="c3">Clearance 80% off</option>
                  	  <option value="c4">Clearance 85% off</option>
               </select>
            </div>
            <div class="fBox subs">
                <label>&nbsp;</label>
                <input value="Show All Products" type="button" class="clearMe">
            </div>
        </div>


    
        <table>
          <thead>
            <tr>
              <th colspan="2">Product</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>  
          </thead>  
          
          <tbody id="prodList">
         
          {% for product in collection.products %}
            {% if product.available %}
                      {% assign opts = '' %}
                     {% for option in product.options_with_values     %}
                         {% assign opts = option.name %} 
                     {% endfor %}
           
              {% if opts == 'Title'  %}
                {% for variant in product.variants %}
                    <tr class="" data-name="{{ product.title | downcase }}" data-tag="{{ product.tags  }}">
                      <td class="prodListImg">
                        <a href="{{ variant.url | collection }}">
                          <img src="{{ variant.image | default: product.featured_image | img_url: 'small' }}" alt="{{ variant.title | escape }}" />
                        </a>
                      </td>
                      <td>
                        
                        <a href="{{ variant.url | collection }}">
                         <strong>{{ product.title }}</strong>{% unless variant.title contains 'Default' %} - {{ variant.title }}{% endunless %}
                        </a>
                      </td>
                      <td>                        
                      	{% include "discountWholesale" %}
                      </td>
                      <!--<td>
                         {{ variant.price | money }} {{ product.line_price }}

                      </td>-->
                      <td class="prodListQty" style="text-align:center;">
						<input class='variantId' type='hidden'  name="quantity" value="{{variant.id}}" />

                        <span class="prodListMinus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                          {% if variant.available %}
                            {% assign vID = variant.id %}
                                   {% assign xQTY = 0 %}
                                   {% for item in cart.items %}
                                     {% if item.variant.id == vID  %}
                                        {% assign xQTY = item.quantity %}
                                     {% endif %}
                                  {% endfor %}
                                  <input data-info=0 data-name="updates[{{ variant.id }}]" onfocus="this.select()" class="quantity field" min="0" max="{{ variant.inventory_quantity }}" {% unless variant.inventory_management == blank or variant.inventory_policy == 'continue' %} max="{{ variant.inventory_quantity }}" {% endunless %} type="text" value="{{ xQTY }}" tabindex="1" />

                          {% else %}
                            <small>Out of Stock</small>
                          {% endif %}
                        <span class="prodListPlus"><i class="fa fa-plus" aria-hidden="true"></i></span>
    
    
    
                      </td>
                    </tr>
                {% endfor %}
              {% else %}
                    <tr class="parent" data-name="{{ product.title | downcase }}" data-tag="{{ product.tags   }}">
                      <td class="prodListImg">
                        <a href="{{ product.url | collection }}">
                          <img src="{{ variant.image | default: product.featured_image | img_url: 'small' }}" alt="{{ variant.title | escape }}" />
                        </a>
                      </td>
                      <td colspan="3">
    
                        <a href="{{ product.url | collection }}">
                         <strong>{{ product.title }}</strong>
                        </a>
                      </td>
                      
                    </tr>
                {% for variant in product.variants %}
                    <tr class="sub" data-name="{{ product.title | downcase }}" data-tag="{{ product.tags   }}">
                      <td>
                        <a href="{{ variant.url | collection }}">
                          <img src="{{ variant.image | default: product.featured_image | img_url: 'small' }}" alt="{{ variant.title | escape }}" />
                        </a>
                      </td>
                      <td>
    
                        <a href="{{ variant.url | collection }}">
                         <!-- {{ product.title }} -  -->{% unless variant.title contains 'Default' %}{{ variant.title }}{% endunless %}
                        </a>
                      </td>
                      <td>
                      	{% include "discountWholesale" %}
                      </td>
                      <!--<td>
                         {{ variant.price | money }}
                      </td>-->
                      <td class="prodListQty" style="text-align:center;">
						<input class='variantId' type='hidden'  name="quantity" value="{{variant.id}}" />
                        <span class="prodListMinus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                          {% if variant.available %}
                            {% assign vID = variant.id %}
                                   {% assign xQTY = 0 %}
                                   {% for item in cart.items %}
                                     {% if item.variant.id == vID  %}
                                        {% assign xQTY = item.quantity %}
                                     {% endif %}
                                  {% endfor %}
                                  <input data-info=0 data-name="updates[{{ variant.id }}]" onfocus="this.select()" class="quantity field" min="0" max="{{ variant.inventory_quantity }}" {% unless variant.inventory_management == blank or variant.inventory_policy == 'continue' %} max="{{ variant.inventory_quantity }}" {% endunless %} type="text" value="{{ xQTY }}" tabindex="1" />

                          {% else %}
                            <small>Out of Stock</small>
                          {% endif %} 
                        <span class="prodListPlus"><i class="fa fa-plus" aria-hidden="true"></i></span>
    
                      </td>
                    </tr>
                {% endfor %}
                
                    
              {% endif %}
                
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      {% include 'pagination' %}
        <p class="zeroResults hideMe">No Products Found</p>
        <div class="orderSubmit dummyOrder">
          
        </div>  
  
    </div><!-- row -->
    </div><!-- large-12 columns -->
    <div class="orderSubmit realOrderSubmit  orderSubmitFloat">
      <div class="row">
        <div class="large-12 columns">  
          <input type="submit" value="Add to the cart" />
          <a class="submitCheckout" href="/checkout">Checkout</a>
        </div>
      </div>
    </div>
  
  {% else %}
    <p>There are no products in this view.</p>
  {% endif %}

</form>

{% endpaginate %}
      </div>

{% if collection.products_count > 0 %}

<script type="text/javascript">
/**
 * JQuery ListFilter plugin
 *
 * Filters a HTML list (defined as <element data-listfilter-list="ul#some-list">)
 *
 * Usage:
 *   $('form').listFilter();
 *
 * The list items can be filtered by an attribute:
 *   <element data-listfilter-by-attribute="true"> ("data-listfilter-index" as default)
 *   <element data-listfilter-by-attribute="data-title">
 *
 * Note: index value in data attribute should be lowecased.
 *
 * or by children element:
 *   <element data-listfilter-by-element="h3:contains({{value}})">
 *
 * Note: by-attribute method is much faster than byElement, because of CSS3 native selector usage
 *
 *
 * @version 0.2
 * @since 2014-01
 * @author Mateusz Janik
 *
 */
!function(t){var e="listfilter";!function(t){var n="listFilter";t.fn[n]=function(i){var a=t.extend({},t.fn[n].defaults,i);return this.each(function(){function n(n){if(o)if(""===n.val())r.removeClass(e+"-item--hidden");else{var i=o.replace("{{value}}",n.val()),a=r.removeClass(e+"-item--hidden").filter(function(){return t(this).find(i).length>0});r.not(a).addClass(e+"-item--hidden")}else u&&(""===n.val()?c.html(""):c.html("#"+h+" > "+f+":not(["+u+'*="'+n.val().toLowerCase()+'"]) { display: none; }'))}var i=t(this),l=i.find("input[type=search]"),s=i.find("button"),d=t(i.data(e+"List")),r=d.children().addClass("listfilter-item"),f=i.data(e+"ListItem")||"",o=i.data(e+"ByElement"),u=i.data(e+"ByAttribute");if(u){var h=d[0].id;if(!h)return!1;var c=t('<style type="text/css" id="listfilter-style-'+Math.round((new Date).getTime()+100*Math.random())+'"></style>').appendTo("head");u="string"==typeof u?u:"data-"+e+"-index"}s.length?s.on("click",function(){n(l)}):l.on(a.eventType,function(){n(l)}).on("search",function(){""===l.val()&&n(l)})}),this},t.fn[n].defaults={eventType:"keyup"}}(jQuery)}(window);

$('.filterBox input').val('');

$('.filterBox').listFilter({
        // eventType: 'change'
  }); 

jQuery(function($) {
  $('table .quantity:first').focus();
  $('[max]').change(function() {
    var max = parseInt($(this).attr('max'), 10);
    var value = parseInt($(this).val(), 10) || 0;
    if (value > max) { 
      alert('We only have ' + max + ' of this item in stock');
      $(this).val(max); 
    }    
  });
});
  
var xv = 1;
  
$(document).ready(function() {

  
  $('.quantity.field').keydown(function(e) {
          // Allow: backspace, delete, tab, escape, enter and .
          if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
          }
          // Ensure that it is a number and stop the keypress
          if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
          }
        });
  
  
  $('.orderForm').submit(function() {
    $(this).find('.quantity.field').each(function() {
     var xname = $(this).attr('data-name'); 
     if ($(this).val() > 0) {
       $(this).attr('name', xname); 
     } else {
       $(this).attr('name', '');  
     }
    }); 
    $(this).submit();
    
    return false;
  });  
  
  
  
  $.fn.isInViewport = function() {
    var elementTop = $(this).offset().top + 78;
    var elementBottom = elementTop + $(this).outerHeight();
    
    var viewportTop = $(window).scrollTop();
    var viewportBottom = viewportTop + $(window).height();
    
    return elementBottom > viewportTop && elementTop < viewportBottom;
  };
  
  
    floatMe();
  
  
  $(window).on('resize scroll', function() {
    
    floatMe();
  
    // console.log('resize scroll');
  });
  
  
  

  var xv = 1;
  var xt;
  $('#prodList tr').each(function() {
    $(this).attr('data-tag', $(this).attr('data-tag').toLowerCase());
  });
  $('.catFilter').val('');
  $('.catFilter').change(function() {
    
    var urlWithParamas = window.location.href;
    var url = urlWithParamas.split('?')[0];
    var cv = $(this).val().toLowerCase();
      
    
    
  	var totalSearch = $('#prodList tr[data-tag*="'+cv+'"]').length;
    
    
     $.ajax({
    type: "POST",
    url: '/cart.js',
    data: {"attributes[pagination]": 50}, /* We are using an attribute named "pagination" */
    success: function(d){
      /* 

      On sucess, reload the page.  

      Warning: If you have scripts on the page that auto trigger the change even the page may reload forever.
      If you do, be sure to add code to account for that.

      */
      console.log(d);
      window.top.location.href = `${url}?searchCatagory=${cv}`;
    },
    dataType: 'json'
  });

    
    
    
    
    
    
  });
  
  
  $('.filterBox .form-control').keyup(function() {
    clearTimeout(xt);
    xt = setTimeout(function(){ 
      xv = $('#prodList tr:visible').size();
      if (xv == 0) {
        $('.zeroResults').removeClass('hideMe');
      } else {
        $('.zeroResults').addClass('hideMe')
      }
      
      floatMe();
      
    }, 10);
    
    
  });

    $('.clearMe').click(function() {
    
    $('.filterBox .form-control').val('');
    $('.catFilter').val('');  
    $('.filterBox .form-control').trigger('keyup').trigger('keydown').trigger('change');
    $('style[id*="listfilter-style"]').html('');
    $('#prodList tr').removeClass('hideMe');  
  });
   
// end ready  
});  
  
function floatMe() {
  if ($('.dummyOrder').isInViewport()) {    
        $('.realOrderSubmit ').removeClass('orderSubmitFloat');
      } else {
        if ($('#shopify-section-footer').isInViewport()) {
          $('.realOrderSubmit ').removeClass('orderSubmitFloat');
        } else {
            $('.realOrderSubmit ').addClass('orderSubmitFloat');
        }
        
        if ($('#prodList').isInViewport()) {
          $('.realOrderSubmit ').addClass('orderSubmitFloat');
        } else {
            $('.realOrderSubmit ').removeClass('orderSubmitFloat');
        }
        
      }
}  

$(document).ready(function(){
  alert('form load');
 var url = window.location.href;
 var cv = url.split('=')[1].replace(/%20/g," ");
 var search = cv.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
 

  if(url.includes('searchCatagory')){
   alert('hello');
    if (cv != '') {
      $('#prodList tr').addClass('hideMe');
      $('#prodList tr[data-tag*="'+cv+'"]').removeClass('hideMe');
    } else {
      $('#prodList tr').removeClass('hideMe');
      
    }
    
    xv = $('#prodList tr:visible').size();
    if (xv == 0) {
      $('.zeroResults').removeClass('hideMe');
    } else {
      $('.zeroResults').addClass('hideMe')
    }
    
    
    floatMe();
  } 
   
  

 $('.quantity.field').focusout(function(){    
    var prev = this.defaultValue;
    var initialCartValue = parseInt($('.cart_items_number.counter_number.animated.rubberBand').text());
    var $id = $(this).parent().find('input.variantId').val();
    var $qty = $(this).parent().find('.quantity.field');
    var initialLineItemValue = parseInt($qty.data('info'));    
      var currentVal = parseInt($qty.val());
      if (!isNaN(currentVal)) {
          $qty.val(currentVal);
      }
    console.log('current value' + currentVal + 'cart value' + initialCartValue + 'prev' + prev);
    if (prev != 0 && initialLineItemValue == 0 ){
    var updateValue = initialCartValue + (currentVal - prev);
    } else {
      var updateValue = initialCartValue + (currentVal - initialLineItemValue);
    }
    $qty.data('info', currentVal);
    
    $('.cart_items_number.counter_number.animated.rubberBand').text(updateValue);
    if(prev != 0 || initialLineItemValue != 0) {
      console.log("hit this line");
      var data = {
    	quantity: currentVal,
    	id: $id
    }
      jQuery.ajax({
      type: 'post',
      url: '/cart/change.js',
      data: data,
      success: function(d){console.log(d)},
      dataType: 'json'
    });
    } else {
      var data = {
    	quantity: currentVal,
    	id: $id
    }

    jQuery.ajax({
      type: 'post',
      url: '/cart/add.js',
      data: data,
      success: function(d){console.log(d)},
      dataType: 'json'
    });
    }
  });
   $('.prodListPlus').on('click',function(){
   var initialCartValue = parseInt($('.cart_items_number.counter_number.animated.rubberBand').text());
    var $id = $(this).parent().find('input.variantId').val();
   	console.log('id'+ $id);
      var $qty = $(this).parent().find('.quantity.field');
      var currentVal = parseInt($qty.val());
      if (!isNaN(currentVal)) {
          $qty.val(currentVal + 1);
      }
    $('.cart_items_number.counter_number.animated.rubberBand').text(initialCartValue + 1);
    if(currentVal > 0) {
      var data = {
    quantity: currentVal + 1,
    id: $id
    }

    jQuery.ajax({
      type: 'post',
      url: '/cart/change.js',
      data: data,
      success: function(d){console.log(d)},
      dataType: 'json'
    });
    } else {
      var data = {
    quantity: currentVal + 1,
    id: $id
    }
      jQuery.ajax({
      type: 'post',
      url: '/cart/add.js',
      data: data,
      success: function(d){console.log(d)},
      dataType: 'json'
    });
    }
  });
  $('.prodListMinus').on('click',function(){
    
     var initialCartValue = parseInt($('.cart_items_number.counter_number.animated.rubberBand').text());
     var $id = $(this).parent().find('input.variantId').val();
   	console.log('id'+ $id);
      var $qty = $(this).parent().find('.quantity.field');
      var currentVal = parseInt($qty.val());
      if (currentVal > 0 ) {
          $qty.val(currentVal - 1);
       $('.cart_items_number.counter_number.animated.rubberBand').text(initialCartValue - 1);
      }
    
    if(currentVal > 0) {
      var data = {
    quantity: currentVal - 1,
    id: $id
    }
      
      jQuery.ajax({
      type: 'post',
      url: '/cart/change.js',
      data: data,
      success: function(d){console.log(d)},
      dataType: 'json'
    });
    } else {
      var data = {
    quantity: currentVal - 1,
    id: $id
    }

    jQuery.ajax({
      type: 'post',
      url: '/cart/add.js',
      data: data,
      success: function(d){console.log(d)},
      dataType: 'json'
    });
    }
 
  });

})

  
  
</script>
                    
{% endif %}            
<style>
.orderForm .quantity.field {
border-bottom: 1px solid #cacaca;
text-align: center;
width: 50px;
font-weight: bold;
padding: 0; 
display: inline-block;
vertical-align: top;  
}
.orderForm td {
padding: 10px;  
}
.orderForm td:first-child {
width: 100px; 
}
.orderForm  input[type="submit"] {
margin: 0 0 !important; 
display: inline-block !important;
vertical-align: top;  
}
.orderForm >div {
text-align: right;  
}
.orderForm .sub td img {
display: none;  
}
.orderSubmit {

padding: 15px 0;

text-align: right;  
}
.orderSubmitFloat {
position: fixed;
bottom:  0;
left: 0;
right: 0; 
z-index: 10;
padding: 15px 0;  

}
.orderSubmit .row,
.orderSubmitFloat .row {
margin: auto;
  
}
.dummyOrder {
border: solid 0px;
height: 1px;
padding: 0; 
}
.filterBoxWrap select,
.filterBox input.form-control {
padding: 0 10px !important; 
border: 2px solid #cacaca !important;
}
.filterBoxWrap {
display: table; 
width: 100%;  
}
.filterBoxWrap .fBox {
display: table-cell;  
width: 50%; 
padding: 0 10px 0 0;
text-align: left; 
}
.filterBoxWrap .fBox  {
position: relative; 
}

.filterBoxWrap .fBox.cat:after {
  color: #00c4b3;
  content: "";
  font-family: "icomoon";
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 10px;
  text-align: center;
  bottom: 0;
  width: 34px;
  z-index: 10;

}
.zeroResults {
margin: 1em 0;  
}
.hideMe  {
display: none !important; 
}
.filterBoxWrap > div:last-child {
padding-right: 0;  
}

@media only screen and (max-width: 767px) {
  .orderForm td:first-child {
    position: absolute;
  top: -99999px;
  left: -99999px;
  z-index: 1;
  opacity: 0;
  }
  .filterBoxWrap > div {
  display: block !important;  
  width: 100% !important;  
  padding: 0 0 0 0 !important;  
  margin: 0 0 15px 0 !important;  
  text-align: center !important;  
  }
  .filterBoxWrap > div.subs label {
  display: none ;  
  }
  .orderForm table {
  font-size: 12px;  
  }
  .orderForm .quantity.field {
  font-size: 12px !important;  
  }
}

/* update 11-21-17 */
.prodListImg img {
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  max-width: none;
}
.orderForm td {
  padding: 5px 10px;
}
.filterBoxWrap {
  padding-bottom: 35px;
}
.prodListQty span {
  position: relative;
  top: 15px;
}
.prodListQty span:hover {
  cursor: pointer;
}
.prodListQty span i {
  font-size: 12px;
}
.orderSubmit {
  text-align: center !important;
}
.submitCheckout {
  background-color: #00c4b3;
  display: inline-block;
  padding: 15px 30px;
  width: auto;
  font-size: .75rem;
  line-height: 1.125rem;
  font-weight: 600;
  letter-spacing: .125rem;
  text-transform: uppercase;
  margin-left: 15px;
}
.submitCheckout:hover {
  background-color: #00deca;
}
@media screen and (max-width: 767px) {
  .orderForm td:first-child {
    position: static;
    opacity: 1;
  }
  .prodListImg img {
    height: 50px;
    width: 50px;
  }
  .orderForm td {
    padding: 5px;
  }
}
@media screen and (max-width: 480px) {
  .prodListQty span {
    display: none;
  }
}
@media screen and (max-width: 414px) {
  .submitCheckout {
    margin: 0;
    padding: 10px;
  }
  .orderForm input[type="submit"] {
    padding: 10px;
  }
}
    
</style>     
    </article>
  </div>
</div>