{{ 'quick-order.css' | asset_url | stylesheet_tag }}  
<div id="primary" class="content-area">
  {%- include 'page-header' -%}
  <div id="content" class="site-content">
    <article class="page">
      <div class="row">
        <div class="large-12 columns">
          <div class="entry-content">
            {%- include 'shortcode' load: page.content -%}
          </div>  
    </div>
   </div>       
{% assign collHandle = 'quick-order' %}             
{% assign collection = collections[collHandle] %}  
{% assign total = cart.attributes.pagination %}
{% assign searchTag = cart.attributes.tag %}
{% assign searchType = cart.attributes.search %}
{% assign totalLineItem = 0 %}
{% assign discountableItem = 0 %}
{% assign count = 0 %}
{% comment %}
Source: https://gist.github.com/carolineschnapp/9122054
{% endcomment %}

  {% include 'alertMessageLineItem' %}
      
<div class="paginationForm">
{% paginate collection.products by 500 %}
<form action="/cart" method="post" class="orderForm">
  <div class="row">
    <div class="large-12 columns" style="text-align: left">
      {% if collection.products_count > 0 %}

      
<!--        <h1>{% if template contains 'page' %}{{ page.title }}{% else %}{{ collection.title }}{% endif %}</h1>
      {% endif %} -->
     
      {% if template contains 'page' and page.content.size > 0 %}
       
      {% elsif collection.description.size > 0 %}
        <div class="rte">
          {{ collection.description }}
        </div>
      {% endif %}
      
    
      {% if collection.products_count > 0 %}
      
        <div class="filterBoxWrap">
            <div class="filterBox fBox" data-enable-listfilter="true" data-listfilter-list="#prodList" data-listfilter-by-attribute="data-name">
                <label>Search</label>
                <input type="search" class="form-control" placeholder="Search Product">
  
            </div>
            <div class="fBox cat">
                <label>Category</label>
                <select class="catFilter">
          
                     <option selected value></option>
                      <option value="Accessories">Accessories</option>
                      <option value="Sweetlegs One Size">SweetLegs one size</option>
                      <option value="Sweetlegs Plus">SweetLegs Plus</option>
                      <option value="Sweetlegs Petite">SweetLegs Petite</option>
                      <option value="Sweetlegs Kids">SweetLegs Kids</option>
                      <option value="Marketing Materials">Marketing Materials</option>
                      <option value="ID Only Prints">ID Only Prints</option>
                      <option value="C1">Clearance 60% off</option>
                      <option value="C2">Clearance 70% off</option>
                      <option value="C3">Clearance 80% off</option>
                      <option value="C4">Clearance 85% off</option>
               </select>
            </div>
            <div class="fBox subs">
                <label>&nbsp;</label>
                <input value="Show All Products" type="button" class="clearMe">
            </div>
        </div>

      <input class="totalLineItem" data-total={{totalLineItem}} data-initialdiscountableitem= {{discountableItem}} type=hidden />   
       <input class="customerTag" type=hidden value={{customer.tags}} />     
  <div class="content">
        <table>
          <thead>
            <tr>
              <th colspan="2">Product</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>  
          </thead>  
          
          <tbody id="prodList">
         
         {% for product in collection.products %}
            {% if product.available%}
                {% include 'quickorder' %}
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% include 'pagination' %}
        <p class="zeroResults hideMe">No Products Found</p>
        <div class="orderSubmit dummyOrder">          
        </div>  
  
    </div><!-- row -->
    </div><!-- large-12 columns -->
  
    <div class="orderSubmit realOrderSubmit  orderSubmitFloat" style="bottom: 10px" >
      <div class="row" >
        <div class="large-12 columns">  
          <input type="submit" value="Continue to Checkout" />
          {% comment %}<a class="submitCheckout" href="/checkout">Checkout</a> {% endcomment %}
        </div>
      </div>
    </div>
 
  
  {% else %}
    <p>There are no products in this view.</p>
  {% endif %}

</form>

{% endpaginate %}
      </div><!--paginationForm-->

{% if collection.products_count > 0 %}

<script type="text/javascript">
/**
 * JQuery ListFilter plugin
 *
 * Filters a HTML list (defined as <element data-listfilter-list="ul#some-list">)
 *
 * Usage:
 *   $('form').listFilter();
 *
 * The list items can be filtered by an attribute:
 *   <element data-listfilter-by-attribute="true"> ("data-listfilter-index" as default)
 *   <element data-listfilter-by-attribute="data-title">
 *
 * Note: index value in data attribute should be lowecased.
 *
 * or by children element:
 *   <element data-listfilter-by-element="h3:contains({{value}})">
 *
 * Note: by-attribute method is much faster than byElement, because of CSS3 native selector usage
 *
 *
 * @version 0.2
 * @since 2014-01
 * @author Mateusz Janik
 *
 */
!function(t){var e="listfilter";!function(t){var n="listFilter";t.fn[n]=function(i){var a=t.extend({},t.fn[n].defaults,i);return this.each(function(){function n(n){if(o)if(""===n.val())r.removeClass(e+"-item--hidden");else{var i=o.replace("{{value}}",n.val()),a=r.removeClass(e+"-item--hidden").filter(function(){return t(this).find(i).length>0});r.not(a).addClass(e+"-item--hidden")}else u&&(""===n.val()?c.html(""):c.html("#"+h+" > "+f+":not(["+u+'*="'+n.val().toLowerCase()+'"]) { display: none; }'))}var i=t(this),l=i.find("input[type=search]"),s=i.find("button"),d=t(i.data(e+"List")),r=d.children().addClass("listfilter-item"),f=i.data(e+"ListItem")||"",o=i.data(e+"ByElement"),u=i.data(e+"ByAttribute");if(u){var h=d[0].id;if(!h)return!1;var c=t('<style type="text/css" id="listfilter-style-'+Math.round((new Date).getTime()+100*Math.random())+'"></style>').appendTo("head");u="string"==typeof u?u:"data-"+e+"-index"}s.length?s.on("click",function(){n(l)}):l.on(a.eventType,function(){n(l)}).on("search",function(){""===l.val()&&n(l)})}),this},t.fn[n].defaults={eventType:"keyup"}}(jQuery)}(window);

$('.filterBox input').val('');

$('.filterBox').listFilter({
        // eventType: 'change'
  }); 

// jQuery(function($) {
 
//   $('[max]').change(function() {
//     var max = parseInt($(this).attr('max'), 10);
//     var value = parseInt($(this).val(), 10) || 0;
//     if (value > max) { 
//       $('.goCart').addClass('hideMe');
//       $('.btn.btn-default.closeModal').removeClass('hideMe');
//       $(".modal-body").text(`We only have ${max} of this item in stock`);      
//       $('.popUpModal').fadeIn();   
//       $(this).val(max); 
//     }    
//   });
// });
  
var xv = 1;
function displayQty() {

  
   $.ajax({
        type: 'GET',
        cache: false,
     	url: '/cart',
        dataType: 'json',
        success: function(cart) {
          var discountableItem = 0;
          cart.items.forEach(item => {
            if( item.product_type == "SweetLegs One Size" || item.product_type == "SweetLegs Plus" || item.product_type == "SweetLegs Petite" || item.product_type == "SweetLegs Kids" || item.product_type == "ID Only Prints"){
              discountableItem = discountableItem + item.quantity;             
            }
          });
          $('.totalLineItem').data('initialdiscountableitem', discountableItem);
         $('table').find('td .quantity.field').each(function(i, pp) {
         result = cart.items.filter(item => item.variant_id == $(pp).data('id'));
    
           if(result.length > 0) {
             $(pp).val(result[0].quantity);
           }
        
        });
        }
    });
  
  
} 
$(document).ready(function() {  
 
  $('.quantity.field').keydown(function(e) {
    
          // Allow: backspace, delete, tab, escape, enter and .
    if ($.inArray(e.keyCode, [46, 8, 9 , 27, 110, 190]) !== -1 ||
      // Allow: Ctrl+A
      (e.keyCode == 65 && e.ctrlKey === true) ||
      // Allow: home, end, left, right
      (e.keyCode >= 35 && e.keyCode <= 39)) {
      // let it happen, don't do anything
      return;
    }
    // Ensure that it is a number and stop the keypress
    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57 || e.keyCode < 13)) && (e.keyCode < 96 || e.keyCode > 105)) {
     
      e.preventDefault();
    }
  });
  
  $('.filterBox .form-control').keydown(function(e) {

          // Allow: backspace, delete, tab, escape, enter and .
    if ($.inArray(e.keyCode, [46 , 9 , 27, 110, 190]) !== -1 ||
      // Allow: Ctrl+A
      (e.keyCode == 65 && e.ctrlKey === true) ||
      // Allow: home, end, left, right
      (e.keyCode >= 35 && e.keyCode <= 39)) {
      // let it happen, don't do anything
      return false;
    }
    // Ensure that it is a number and stop the keypress
    if (e.keyCode == 13) {
        e.preventDefault();
       $('.filterBox .form-control').blur();
    }
  });
  
  $('.orderForm').submit(function() {
    $(this).find('.quantity.field').each(function() {
     var xname = $(this).attr('data-name'); 
     if ($(this).val() > 0) {
       $(this).attr('name', xname); 
     } else {
       $(this).attr('name', '');  
     }
    }); 
    $(this).submit();
    
    return false;
  });  
  
  
  
  $.fn.isInViewport = function() {
    var elementTop = $(this).offset().top + 78;
    var elementBottom = elementTop + $(this).outerHeight();
    
    var viewportTop = $(window).scrollTop();
    var viewportBottom = viewportTop + $(window).height();
    
    return elementBottom > viewportTop && elementTop < viewportBottom;
  };
  
  
    floatMe();
  
  
  $(window).on('resize scroll', function() {
    
    floatMe();
  
    // console.log('resize scroll');
  });
  
  
  

  var xv = 1;
  var xt;
  $('#prodList tr').each(function() {
    $(this).attr('data-tag', $(this).attr('data-tag').toLowerCase());
  });
  
  
  
 
   $('.catFilter').val('');
  $('.catFilter').change(function() {
    var cv = $(this).val().toLowerCase();
    console.log(cv);
    
    if (cv != '') {
      $('#prodList tr').addClass('hideMe');
      $('#prodList tr[data-tag*="'+cv+'"]').removeClass('hideMe');
    } else {
      $('#prodList tr').removeClass('hideMe');
      
    }
    
    xv = $('#prodList tr:visible').size();
    if (xv == 0) {
      $('.zeroResults').removeClass('hideMe');
    } else {
      $('.zeroResults').addClass('hideMe')
    }
    
    
    floatMe();
    
  });
  
  
  
  $('.filterBox .form-control').keyup(function() {
    clearTimeout(xt);
    xt = setTimeout(function(){ 
      xv = $('#prodList tr:visible').size();
      if (xv == 0) {
        $('.zeroResults').removeClass('hideMe');
      } else {
        $('.zeroResults').addClass('hideMe')
      }
      
      floatMe();
      
    }, 10);
    
    
  });


   $('.clearMe').click(function() {
    $('.filterBox .form-control').val('');
    $('.catFilter').val('');  
    $('.filterBox .form-control').trigger('keyup').trigger('keydown').trigger('change');
    $('style[id*="listfilter-style"]').html('');
    $('#prodList tr').removeClass('hideMe');  
  });
   
// end ready  
});  
  
function floatMe() {
  if ($('.dummyOrder').isInViewport()) {    
        $('.realOrderSubmit ').removeClass('orderSubmitFloat');
      } else {
        if ($('#shopify-section-footer').isInViewport()) {
          $('.realOrderSubmit ').removeClass('orderSubmitFloat');
        } else {
            $('.realOrderSubmit ').addClass('orderSubmitFloat');
        }
        
        if ($('#prodList').isInViewport()) {
          $('.realOrderSubmit ').addClass('orderSubmitFloat');
        } else {
            $('.realOrderSubmit ').removeClass('orderSubmitFloat');
        }
        
      }
}
function showDiscount(discount) {
  if($('.customerTag').val().toLowerCase().includes('distributor')){
    
    $('table').find('td.productPrice').each(function(i, pp) {
      var oldPrice =$(pp).text().split("$")[1];
      var flag = true;
      var type = $(pp).data('type');
      if($(pp).data('tag').includes('c1')){ 
        $(pp).text('');
        $(pp).append(`<span class="price-old">$${oldPrice}</span>`);
        var newPrice ="$"+ (oldPrice - parseInt(oldPrice) * 0.6).toFixed(2);
        $(pp).append(`<span class="newPrice">${newPrice}</span>`);
        flag = false;
      } 
      if($(pp).data('tag').includes('c2')){ 
        $(pp).text('');
        $(pp).append(`<span class="price-old">$${oldPrice}</span>`);
        var newPrice ="$"+ (oldPrice - parseInt(oldPrice) * 0.7).toFixed(2);
        $(pp).append(`<span class="newPrice">${newPrice}</span>`);
        flag = false;
      }
      if($(pp).data('tag').includes('c3')){ 
        $(pp).text('');
        $(pp).append(`<span class="price-old">$${oldPrice}</span>`);
        var newPrice ="$"+ (oldPrice - parseInt(oldPrice) * 0.77).toFixed(2);
        $(pp).append(`<span class="newPrice">${newPrice}</span>`);
        flag = false;
      } 
      if($(pp).data('tag').includes('c4')){ 
        $(pp).text('');
        $(pp).append(`<span class="price-old">$${oldPrice}</span>`);
        var newPrice ="$"+ (oldPrice - parseInt(oldPrice) * 0.84).toFixed(2);
        $(pp).append(`<span class="newPrice">${newPrice}</span>`);
        flag = false;
      } 
      if((type == 'sweetlegs one size' || type == 'sweetlegs plus' || type == 'sweetlegs petite' || type == 'sweetlegs kids' || type == 'id only prints' ) && flag) {
        $(pp).text('');
        $(pp).append(`<span class="price-old">$${oldPrice}</span>`);
        var newPrice ="$"+ (oldPrice - parseInt(oldPrice) * discount).toFixed(2);
        $(pp).append(`<span class="newPrice">${newPrice}</span>`);
      }
   })
  }
}

function removeDiscount() {
  $(".productPrice span").removeClass('price-old');
  $(".productPrice .newPrice").remove();
}

$(document).ready(function(){
   displayQty(); 
   setTimeout(function(){
     var initialdiscountableitem = parseInt($('.totalLineItem').data('initialdiscountableitem'));
    if(initialdiscountableitem >= 25 && initialdiscountableitem < 50) {
    showDiscount(.4);
  } else if (initialdiscountableitem >= 50) {
    showDiscount(.5);
  }
   }, 3000);  
   
 var url = window.location.href;
  if(url.split('=')[1] != undefined) {
   var cv = url.split('=')[1].replace(/%20/g," ");
   var search = cv.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
  } 
  if(url.includes('searchCatagory')) {
    $('.catFilter').val(search);
  }
  if(url.includes('searchProduct')) {
    $('input.form-control').val(search);
  }
  $('.quantity.field').on('focusin', function(){
    $(this).data('val', $(this).val());
	}).change(function(){
    var check = true;
    var max = parseInt($(this).parent().find('.quantity.field').attr('max'), 10);
    var value = parseInt($(this).parent().find('.quantity.field').val(), 10) || 0;
    var prev = $(this).data('val');
    var initialCartValue = parseInt($('.cart_items_number.counter_number.animated.rubberBand').text());
    var $id = $(this).parent().find('input.variantId').val();
    var $url = $(this).parent().find('input.variantUrl').val();
    var $qty = $(this).parent().find('.quantity.field');
    var initialLineItemValue = parseInt($qty.data('info'));
    var totalLine = parseInt($('.totalLineItem').data('total'));
  
     if (value > max) { 
          $('.goCart').addClass('hideMe');
          $('.btn.btn-default.closeModal').removeClass('hideMe');
          $(this).parent().find('.quantity.field').val(max).trigger('change');
          $(".modal-body").text(`We do not have that quantity available.`);          
          $('.popUpModal').fadeIn(); 
          reload = false;
     }   

    if(parseInt($qty.val()) == 0 ) {
      $('.totalLineItem').data('total', parseInt($('.totalLineItem').data('total')) - 1);
    }
    console.log('current value' + currentVal + 'cart value' + initialCartValue + 'prev' + prev);
   if(prev == 0 && initialLineItemValue == 0 && parseInt($qty.val()) != 0 ) {
    $('.totalLineItem').data('total', parseInt($('.totalLineItem').data('total')) + 1);
   }
   if (totalLine > 250 ) {
     $qty.val('0');
     $(".modal-body").text("You have hit the maximum line items allowed in your cart, please checkout to avoid any issues."); 
     $('.goCart').removeClass('hideMe');
     $('.btn.btn-default.closeModal').addClass('hideMe');
     $('.popUpModal').fadeIn();
     $('.totalLineItem').data('total', parseInt($('.totalLineItem').data('total')) - 1);    
   }
    var currentVal = parseInt($qty.val());
    if (!isNaN(currentVal)) {
        $qty.val(currentVal);
    }
    console.log('current value' + currentVal + 'cart value' + initialCartValue + 'prev' + prev);
    if (prev != 0 && initialLineItemValue == 0 ){
    var updateValue = initialCartValue + (currentVal - prev);
    } else {
      var updateValue = initialCartValue + (currentVal - initialLineItemValue);
    }
    $qty.data('info', currentVal);  
 
   
               
    $.ajax({
        type: 'GET',
        url: `${$url}`,
        cache: false,
        dataType: 'json',
        success: function(cart) {
          var tags = cart.product.tags.split(',');          
          tags.forEach(tag => {
            console.log(currentVal);
            if (tag.trim() == "limit1" && currentVal > 10) {
              $('.goCart').addClass('hideMe');
              $('.btn.btn-default.closeModal').removeClass('hideMe');
              $(".modal-body").text("Sorry, you have reached the maximum limit for this product.");      
              $('.popUpModal').fadeIn();              
              $qty.val(10).trigger('change');
        var quantity = 10;
              check = false;
              addToCart(quantity);
            } else if (tag.trim() == 'limit2' && currentVal > 15) {
                $('.goCart').addClass('hideMe');
                $('.btn.btn-default.closeModal').removeClass('hideMe');
              $(".modal-body").text("Sorry, you have reached the maximum limit for this product.");                
                $('.popUpModal').fadeIn();
                $qty.val(15).trigger('change');
                check = false;
        var quantity = 15;
                addToCart(quantity);
            } else if (tag.trim() == 'limit3' && currentVal > 20) {
              $('.goCart').addClass('hideMe');
              $('.btn.btn-default.closeModal').removeClass('hideMe');
              $(".modal-body").text("Sorry, you have reached the maximum limit for this product.");              
              $('.popUpModal').fadeIn();
              $qty.val(20).trigger('change');
        var quantity = 20;
                check = false;
                addToCart(quantity);
            } 
          });
          if(check) {
              addToCart(currentVal);
          }
        
        }
    });
   
   function addToCart(qty) {
     console.log('qty'+qty);
      var data = {
      quantity: qty,
      id: $id
    }
    if(prev != 0 || initialLineItemValue != 0) {   
      jQuery.ajax({
      type: 'post',
      url: '/cart/change.js',
      data: data,
      success: function(cart){
        $('.cart_items_number.counter_number.animated.rubberBand').text(cart.item_count);
        var discountableItem = 0;
        cart.items.forEach(item => 
            {
              if (item.product_type == "SweetLegs One Size" || item.product_type == "SweetLegs Plus" || item.product_type == "SweetLegs Petite" || item.product_type == "SweetLegs Kids" || item.product_type == "ID Only Prints"){
                  discountableItem += parseInt(item.quantity);                 
                } 
          }); 
        
        var initialdiscountableitem = parseInt($('.totalLineItem').data('initialdiscountableitem'));
        console.log(initialdiscountableitem+"dis"+discountableItem );
          $('.totalLineItem').data('initialdiscountableitem', discountableItem ) ; 
        if((initialdiscountableitem < 25 && discountableItem < 50 && discountableItem >= 25) || (initialdiscountableitem >= 50 && discountableItem >= 25 && discountableItem < 50)) {
           
            showDiscount(0.4);
          } else if (initialdiscountableitem >= 25 && discountableItem < 25){
           
            removeDiscount();            
          }else if(initialdiscountableitem < 50 && discountableItem >= 50) {
           
            showDiscount(0.5);
        }
        
      },
      dataType: 'json'
    });
    } else {
    jQuery.ajax({
      type: 'post',
      url: '/cart/add.js',
      data: data,
      success: function(item){ 
        $('.cart_items_number.counter_number.animated.rubberBand').text(item.quantity + initialCartValue);
        var initialdiscountableitem = parseInt($('.totalLineItem').data('initialdiscountableitem'));
        if (item.product_type == "SweetLegs One Size" || item.product_type == "SweetLegs Plus" || item.product_type == "SweetLegs Petite" || item.product_type == "SweetLegs Kids" || item.product_type == "ID Only Prints"){ 
          var discountableItem = parseInt(item.quantity) + initialdiscountableitem; 
        }
         console.log(initialdiscountableitem+"dis"+discountableItem );
          $('.totalLineItem').data('initialdiscountableitem', discountableItem ) ; 
        if((initialdiscountableitem < 25 && discountableItem < 50 && discountableItem >= 25) || (initialdiscountableitem >= 50 && discountableItem >= 25 && discountableItem < 50)) {
           
            showDiscount(0.4);
          } else if (initialdiscountableitem >= 25 && discountableItem < 25){
           
            removeDiscount();            
          }else if(initialdiscountableitem < 50 && discountableItem >= 50) {
           
            showDiscount(0.5);
        }
      },
      dataType: 'json'
    });
    }
   }
  });

   $('.prodListPlus').on('click',function(){
      var initialCartValue = parseInt($('.cart_items_number.counter_number.animated.rubberBand').text());
      var $qty = $(this).parent().find('.quantity.field');
     $qty.data('val', $qty.val());
      var currentVal = parseInt($qty.val());
      if (!isNaN(currentVal)) {
       $qty.val(currentVal + 1).trigger('change');
//         setTimeout(function() {
//        $qty.val(currentVal + 1).trigger('change');
//      }, 2000);
         
      }
    //$('.cart_items_number.counter_number.animated.rubberBand').text(initialCartValue + 1);
  });
 
  $('.prodListMinus').on('click',function(){
     var initialCartValue = parseInt($('.cart_items_number.counter_number.animated.rubberBand').text());
     var $id = $(this).parent().find('input.variantId').val();
      var $qty = $(this).parent().find('.quantity.field');
   	 $qty.data('val', $qty.val());
      var currentVal = parseInt($qty.val());
      if (currentVal > 0 ) {
          $qty.val(currentVal - 1).trigger('change');
       //$('.cart_items_number.counter_number.animated.rubberBand').text(initialCartValue - 1);
      }         
  });

})  
</script>
                    
{% endif %}            
    </article>
  </div>
</div>